<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="goalname" />
      <button @click="addgoal">Add Goal</button>
      <p v-if="goals.length == 0">No goals have been added yet - please start adding some!</p>
      <ul v-else>
        <li v-for="(goal , index) in goals"> {{goal}} {{index}} <span @click="removegoal(index)">X</span> </li>
      </ul>
      <!-- <p v-show="goals.length ==+ 0">No goals have been added yet - please start adding some!</p>
      <ul v-show="goals.length > 0">
        <li v-for="goal in goals"> {{goal}} </li>
      </ul> -->
    </section>
  </body>
</html>
